.home {
    list-style: none;
    padding-left: 20px;
}
  
.home p {
    margin-bottom: 0px;
}

.home a {
    color: white;
}
  
.home hr {
    border-style: dotted;
}

.home a:hover {
    text-decoration: none;
}